VITE_MONGODB_URI=mongodb+srv://aliexpressgood585_db_user:iQmd87yoC10ttqan@cluster.ud18uyo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
VITE_API_BASE_URL=http://localhost:5000

# Space APIs
VITE_N2YO_API_KEY=your_n2yo_key
VITE_NASA_API_KEY=your_nasa_key
